<div fxLayout="row" fxLayoutAlign="start center" class="modal-header">
  <span fxFlex>Create a new service type</span>
  <button mat-icon-button color="primary" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form id="input-form" [formGroup]="servicesTypeForm" novalidate style.fontSize.px="26px" (ngSubmit)="onSubmit()" >
  <div class="modal-content">
    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width">
      <mat-label>Service Type</mat-label>
      <input matInput formControlName="label" required>
      <mat-error *ngIf="servicesTypeForm.controls['label'].hasError('required')">
        Service Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" class="modal-footer">
    <a mat-button (click)="onNoClick()">Cancel</a>
    <button mat-flat-button color="primary"  [disabled]="loading">
      {{ loading ? 'Saving' : 'Save'}}
      <mat-spinner *ngIf="loading"
        style="position: absolute; top: 5px; left: 25px;"
        diameter="25"
        mode="indeterminate">
      </mat-spinner>
    </button>
  </div>
</form>
