.filter-config{
  width: 40% !important;
}

.filter-config .mat-dialog-container{
  padding: 0px !important;
}

.modal-header{
  padding: 10px;
  background: #f5f8f9;
  border-bottom: 1px solid #dde5e7;
  font-weight: 200;
  color: #626f76;
  .mat-icon-button{
    line-height: 24px;
    width: 24px;
    height: 24px;
  }
  .mat-icon{
    line-height: 20px;
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

.modal-content{
  background-color: #fafafa;
  // min-height: 20vh;
  padding: 10px;
}

.mat-form-field-outline{
  background-color: #fff;
}

.modal-footer{
  padding: 5px 10px;
  background: #f5f8f9;
  border-top: 1px solid #dde5e7;
}
