<mat-toolbar class="component-header">
  <button mat-icon-button routerLink="/settings" style="margin-left: -10px;">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span fxFlex>Services Type</span>
  <button mat-flat-button (click)="openStatusConfig({})" color="primary">Create</button>
</mat-toolbar>
<div class="main-content">
  <div class="mat-elevation-z1">
    <div class="mat-elevation-z1">
      <div fxLayout="row" fxLayoutAlign="end center"
        style="background-color: #fff; padding: 10px; border-bottom: 1px solid #e0e0e0;">
        <app-column-selector contentType="servicesType" (changeColumns)="changeColumns($event)"></app-column-selector>
      </div>
      <app-data-table [columns]="columnsChanged" model="services-type" contentType="servicesType" (openRecord)="openStatusConfig($event)">
      </app-data-table>
    </div>
  </div>
</div>
