<div fxLayout="row" fxLayoutAlign="start center" class="modal-header">
  <span fxFlex>{{ data ? 'Update this service template' : 'Create a new service template'}}</span>
  <button mat-icon-button color="primary" (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form id="input-form" [formGroup]="servicesTypeForm" novalidate style.fontSize.px="26px" (ngSubmit)="onSubmit()">
<div class="modal-content">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-nav-list style="padding-top: 0px">
        <a mat-list-item class="filter-menu-link" (click)="changeStep(1)">
          <mat-icon>font_download</mat-icon>Service Type
        </a>
        <a mat-list-item class="filter-menu-link" (click)="changeStep(2)">
          <mat-icon>vertical_split</mat-icon>Status
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="modal-sidenav-content">

        <ng-container *ngIf="activeStep == 1">
          <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width">
            <mat-label>Category</mat-label>
            <mat-select formControlName="serviceType" name="item" required>
              <mat-option *ngFor="let item of options" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="servicesTypeForm.controls['serviceType'].hasError('required')">
            Category is <strong>required</strong>
          </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width">
            <mat-label>Service Name</mat-label>
            <input matInput formControlName="serviceName" required>
            <mat-error *ngIf="servicesTypeForm.controls['serviceName'].hasError('required')"> Service Name is <strong>required</strong></mat-error>
          </mat-form-field>
        </ng-container>


        <ng-container *ngIf="activeStep == 2">
        <!-- Dropdown Options -->
          <app-dropdown-options
            [data]="statuses"
            label="Status *"
            [color]="servicesTypeForm.controls['serviceStatuses'].hasError('required') && statusError ? 'warn' : 'primary'"
            formControlName="serviceStatuses">
          </app-dropdown-options>
          <mat-error style="position: relative; bottom: 2.3em; font-size: 12px; margin-left: 10px; font-weight: 200;"
          *ngIf="servicesTypeForm.controls['serviceStatuses'].hasError('required') && statusError">
          Status is <strong>required</strong></mat-error>
        </ng-container>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div fxLayout="row" fxLayoutAlign="end center" class="modal-footer">
  <a mat-button (click)="onNoClick()">Cancel</a>
  <button mat-flat-button color="primary" [disabled]="servicesTypeForm.invalid || loading" *ngIf="data" >{{ loading ? 'Saving' : 'Save'}}
    <mat-spinner *ngIf="loading"
    style="position: absolute; top: 6px; left: 25px;"
    diameter="25"
    mode="indeterminate">
  </mat-spinner>
  </button>

  <button mat-flat-button color="primary" [disabled]="servicesTypeForm.invalid || loading" *ngIf="!data" >{{ loading ? 'Creating' : 'Create'}}
    <mat-spinner *ngIf="loading"
    style="position: absolute; top: 6px; left: 30px;"
    diameter="25"
    mode="indeterminate">
  </mat-spinner>
  </button>
</div>

</form>
