<mat-progress-bar mode="indeterminate" color="primary" class="loading-top" *ngIf="loading"></mat-progress-bar>
<mat-sidenav-container style="height: calc( 100vh - 55px );">

<mat-sidenav-content class="content-outlet">
<mat-toolbar class="component-header content-toolbar">
  <span fxFlex>User Permissions</span>
  <!-- <a mat-button class="sidebar-toogle" (click)="toogleSideBar()" *ngIf="!sideBarOpened" >Show <mat-icon>double_arrow</mat-icon></a>
  <a mat-button class="sidebar-toogle" (click)="toogleSideBar()" *ngIf="sideBarOpened" >Hide <mat-icon>double_arrow</mat-icon></a> -->
</mat-toolbar>
<div class="main-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
  <div fxFlex>
    <mat-card class="mat-elevation-z1" style="margin-top: 0;" >
      <app-overlay-loading *ngIf="loading"></app-overlay-loading>
      <div fxLayout="row" class="card-header" fxLayoutGap="10px" fxLayoutAlign="start start">
        <mat-form-field class="content-selector" floatLabel="always" appearance="outline">
          <mat-label>Select Content Type</mat-label>
          <mat-select placeholder="Select Module"
            [(ngModel)]="module"
            [value]="module"
            fxFlex
            (selectionChange)="changeModule($event)">
            <mat-option value="clients">Clients</mat-option>
            <mat-option value="users">Users</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex></div>
        <button mat-flat-button color="primary" (click)="editPermissions()" *ngIf="!editing">Edit</button>
        <button mat-button color="primary" (click)="cancel()" *ngIf="isChanged && editing">Cancel</button>
        <button mat-flat-button color="primary" (click)="saveUserPermissions()" [disabled]="!isChanged" *ngIf="editing">Save</button>
      </div>
      <div>
        <ng-container *ngFor="let item of permissions">
          <app-settings-permissions-user #settingsPermissionsUser
          [userPermissions]="item"
          [module]="module"
          [editing]="editing"
          (permissionsChanged)="permissionsChanged($event)">
          </app-settings-permissions-user>
        </ng-container>
        <!-- <ng-container *ngFor="let item of permissions">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" style="padding: 8px 0px;">
            <span fxFlex="18"
            fxFlex.lt-md="100"
            class="permission-user">{{ item.recordName }}</span>

            <mat-form-field floatLabel="always" class="full-width permission-type" appearance="outline" fxFlex="18" fxFlex.lt-md="100">
              <mat-label>Create</mat-label>
              <mat-select name="view">
                <mat-option value="All">All</mat-option>
                <mat-option value="None">None</mat-option>
                <mat-option value="onlyAssigned">Only Assigned</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="full-width permission-type" appearance="outline" fxFlex="18" fxFlex.lt-md="100">
              <mat-label>View</mat-label>
              <mat-select name="item">
                <mat-option value="All"> All</mat-option>
                <mat-option value="None"> None</mat-option>
                <mat-option value="onlyAssigned"> Only Assigned</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="full-width permission-type" appearance="outline" fxFlex="18" fxFlex.lt-md="100">
              <mat-label>Edit</mat-label>
              <mat-select name="item">
                <mat-option value="All"> All</mat-option>
                <mat-option value="None"> None</mat-option>
                <mat-option value="onlyAssigned"> Only Assigned</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="full-width permission-type" appearance="outline" fxFlex="18" fxFlex.lt-md="100">
              <mat-label>Delete</mat-label>
              <mat-select name="item">
                <mat-option value="All"> All</mat-option>
                <mat-option value="None"> None</mat-option>
                <mat-option value="onlyAssigned"> Only Assigned</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <mat-divider
            [inset]="true">
          </mat-divider>

        </ng-container> -->

      </div>
    </mat-card>
  </div>

</div>
</mat-sidenav-content>

<mat-sidenav #sidebar position="end" fullscreen
fixedInViewport
autosize
[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
[mode]="(isHandset$ | async) ? 'over' : 'side'"
[opened]="false">
  <mat-toolbar color="primary" class="main-tool-bar">Menu</mat-toolbar>
  <mat-toolbar class="component-header content-toolbar">
    <span fxFlex>Field Settings</span>
    <a mat-button class="sidebar-toogle" (click)="sidebar.close()" *ngIf="(isHandset$ | async) ? true : false"> Hide Settings<mat-icon>double_arrow</mat-icon></a>
  </mat-toolbar>
  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" style="padding: 10px; height: calc( 100vh - 120px );">
    side
  </div>
</mat-sidenav>

</mat-sidenav-container>
