<form id="input-form" [formGroup]="usersPermissions" novalidate style.fontSize.px="26px">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">

    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>User Type</mat-label>
      <mat-select formControlName="userType" required value="authenticated">
        <mat-option value="authenticated"> Regular User</mat-option>
        <mat-option value="administrator"> System Administrator</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>Status</mat-label>
      <mat-select formControlName="active" required value="active">
        <mat-option value="active"> Active</mat-option>
        <mat-option value="inactive"> Inactive</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h2>Access control</h2>
    <mat-divider style="margin-bottom: 10px;"
      [inset]="true">
    </mat-divider>

    <ng-container *ngFor="let permissions of accessControl" >

      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
        <div fxFlex="18" fxFlex.lt-md="100" style="text-transform: capitalize;">
          <span>{{permissions.module}}</span>
         </div>
       <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width permission-type" fxFlex="18" fxFlex.lt-md="100">
        <mat-label>Create</mat-label>
        <mat-select formControlName="{{permissions.create}}">
          <mat-option value="All">All</mat-option>
          <mat-option value="None">None</mat-option>
          <mat-option value="onlyAssigned">Only Assigned</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width permission-type" fxFlex="18" fxFlex.lt-md="100">
        <mat-label>View</mat-label>
        <mat-select formControlName="{{permissions.view}}">
          <mat-option value="All">All</mat-option>
          <mat-option value="None">None</mat-option>
          <mat-option value="onlyAssigned">Only Assigned</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width permission-type" fxFlex="18" fxFlex.lt-md="100">
        <mat-label>Edit</mat-label>
        <mat-select formControlName="{{permissions.edit}}">
          <mat-option value="All"> All</mat-option>
          <mat-option value="None"> None</mat-option>
          <mat-option value="onlyAssigned"> Only Assigned</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width permission-type" fxFlex="18" fxFlex.lt-md="100">
        <mat-label>Delete</mat-label>
        <mat-select formControlName="{{permissions.delete}}">
          <mat-option value="All"> All</mat-option>
          <mat-option value="None"> None</mat-option>
          <mat-option value="onlyAssigned"> Only Assigned</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <mat-divider style="margin: 10px 0px;"
      [inset]="true">
    </mat-divider>
    </ng-container>
</form>
