<mat-progress-bar mode="indeterminate" color="primary" class="loading-top" *ngIf="loading"></mat-progress-bar>

<mat-sidenav-container style="height: calc( 100vh - 55px );">
  <mat-sidenav-content class="content-outlet">

    <mat-toolbar class="component-header content-toolbar">
      <button mat-icon-button (click)="goBack()" style="margin-left: -10px;" ><mat-icon>arrow_back</mat-icon></button>
      <span fxFlex>User Profile</span>
      <a mat-button class="history-toogle" (click)="toogleSideBar()" *ngIf="!sideBarOpened"> <mat-icon>keyboard_arrow_left</mat-icon> History</a>
      <a mat-button class="history-toogle" (click)="toogleSideBar()" *ngIf="sideBarOpened">History <mat-icon>keyboard_arrow_right</mat-icon></a>
    </mat-toolbar>

    <div #profile style="padding: 10px;">
      <mat-card class="mat-elevation-z1">
        <!-- <app-overlay-loading *ngIf="loading"></app-overlay-loading> -->
        <div fxLayout="row" fxLayout.lt-md="column" class="card-header" fxLayoutGap="10px">

          <div #profileTitle fxFlex>
            <button mat-icon-button style="margin: -6px 10px 0px 0px;">
              <app-avatar #avatar size="40"
                (avatarChanged)="avatarChanges($event)"
                [avatarUrl]="avatarUrl"
                [disabled]="!creating && !editing">
              </app-avatar>
            </button>
            <h2 fxFlex style="font-weight: 300; margin: 0px;">{{record.title || 'New User'}}</h2>
          </div>
          <mat-divider *ngIf="(isHandset$ | async) ? true : false" [inset]="true"></mat-divider>

          <div #profileActions>
            <div fxFlex></div>
            <a mat-flat-button color="primary" *ngIf="!creating && !editing && (isAdmin || isMe)" (click)="editRecord()">
              Edit</a>
            <a mat-button *ngIf="editing" (click)="cancelRecord()" [disabled]="loading">
              Cancel</a>
            <button mat-flat-button color="primary" *ngIf="editing" (click)="saveRecord()" [disabled]="loading">
              {{ loading ? 'Saving' : 'Save'}}
              <mat-spinner *ngIf="loading"
                style="position: absolute; top: 5px; left: 25px;"
                diameter="25"
                mode="indeterminate">
              </mat-spinner>
            </button>
            <button  *ngIf="creating && isAdmin" mat-flat-button color="primary" (click)="createRecord()" [disabled]="loading">
              {{ loading ? 'Creating' : 'Create'}}
              <mat-spinner *ngIf="loading"
                style="position: absolute; top: 5px; left: 30px;"
                diameter="25"
                mode="indeterminate">
              </mat-spinner>
            </button>
          </div>
        </div>

        <mat-tab-group color="primary" animationDuration="0ms">
          <mat-tab #profile>
            <ng-template mat-tab-label>
              <div [class]="(isHandset$ | async) ? 'isHandset' : 'notHandset'">
                <mat-icon>contacts</mat-icon>
                <div class="label-text">Profile</div>
              </div>
            </ng-template>
            <app-user-profile #userProfile
              [recordData]="record.data"
              (userChanged)="userChanges($event)">
            </app-user-profile>
          </mat-tab>

          <mat-tab #permissions
          *ngIf="isAdmin">
            <ng-template mat-tab-label>
              <div [class]="(isHandset$ | async) ? 'isHandset' : 'notHandset'">
                <mat-icon>lock</mat-icon>
                <div class="label-text">Permissions</div>
              </div>
            </ng-template>
            <app-users-permissions #userPemissions
            *ngIf="isAdmin"
            [recordData]="record.data"
            (permissionsChanged)="userChanges($event)"></app-users-permissions>
          </mat-tab>

        </mat-tab-group>
      </mat-card>
    </div>

  </mat-sidenav-content>

  <mat-sidenav #sidebar position="end" fullscreen
    fixedInViewport
    autosize
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) ? false : true">

    <mat-toolbar color="primary" class="main-tool-bar">Menu</mat-toolbar>
    <mat-toolbar class="component-header">
      <span fxFlex>History</span>
      <a mat-button class="history-toogle" (click)="toogleSideBar()" *ngIf="(isHandset$ | async) ? true : false"> History<mat-icon>keyboard_arrow_right</mat-icon></a>
    </mat-toolbar>

    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" style="padding: 10px; height: calc( 100vh - 120px );">
      <div fxFlex style="border: 1px solid #d6d9d9; padding: 10px;">
        activities
      </div>
    </div>
  </mat-sidenav>

</mat-sidenav-container>
