<form id="input-form" [formGroup]="profileForm" novalidate (ngSubmit)="submitData()" style.fontSize.px="26px">
  <div fxLayout="row" fxLayoutAlign="end center" class="action-row" style="margin: 10px 0px;">
    <ng-container *ngIf="!creating" >
      <a mat-flat-button (click)="enableForm()" *ngIf="!editing" color="primary">Edit</a>
      <a mat-button (click)="cancelForm()" *ngIf="editing">Cancel</a>
      <button mat-flat-button color="primary" *ngIf="editing" [disabled]="!dataChanged">
        Save
      </button>
    </ng-container>
    <ng-container *ngIf="creating">
      <button mat-flat-button color="primary">
        Create
      </button>
    </ng-container>

  </div>

  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
    <ng-container *ngFor="let input of inputList" [ngSwitch]="input.type" >
      <ng-container *ngSwitchCase="'dropdown'" fxFlex="50">
        <app-searchable-select
        [options]="input.options"
        [label]="input.label"
        [isRequired]="input.required"
        [formControlName]="input.name"
        [defaultOption]="input.default"></app-searchable-select>
      </ng-container>

      <mat-form-field class="full-width" floatLabel="always" appearance="outline"  *ngSwitchDefault fxFlex="49" fxFlex.lt-md="100">
        <mat-label>{{input.label}}</mat-label>
        <input matInput [formControlName]="input.name" [required]="input.required">
        <mat-error *ngIf="profileForm.controls[input.name].hasError('required')">
          {{input.label}} is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </ng-container>
  </div>
  <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" fxFlex.lt-md="100">
      <ng-container *ngFor="let input of inputList" [ngSwitch]="input.type" >
        <div *ngIf="input.column == 'left'" class="full-width">

          <ng-container *ngSwitchCase="'dropdown'">
            <app-searchable-select
            [options]="input.options"
            [label]="input.label"
            [isRequired]="input.required"
            [formControlName]="input.name"
            [defaultOption]="input.default"></app-searchable-select>
          </ng-container>

          <mat-form-field class="full-width" floatLabel="always" appearance="outline"  *ngSwitchDefault>
            <mat-label>{{input.label}}</mat-label>
            <input matInput [formControlName]="input.name" [required]="input.required">
            <mat-error *ngIf="profileForm.controls[input.name].hasError('required')">
              {{input.label}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </ng-container>
    </div>

    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" fxFlex.lt-md="100">
      <ng-container *ngFor="let input of inputList" [ngSwitch]="input.fieldType" >
        <div *ngIf="input.column == 'right'" class="full-width">

          <ng-container *ngSwitchCase="'dropdown'">
            <app-searchable-select
            [options]="input.options"
            [label]="input.label"
            [isRequired]="input.required"
            [formControlName]="input.name"
            [defaultOption]="input.default"></app-searchable-select>
          </ng-container>

          <mat-form-field class="full-width" floatLabel="always"  appearance="outline"  *ngSwitchDefault>
            <mat-label>{{input.label}}</mat-label>
            <input matInput [formControlName]="input.name" [required]="input.required">
            <mat-error *ngIf="profileForm.controls[input.name].hasError('required')">
              {{input.label}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </ng-container>
    </div>
  </div> -->
</form>
