<form id="input-form" [formGroup]="profileForm" novalidate (ngSubmit)="updateData()" style.fontSize.px="26px">
  <div fxLayout="row" fxLayoutAlign="end center" class="action-row" style="margin: 10px 0px;">
    <a mat-flat-button (click)="enableForm()" *ngIf="!editing" color="primary">Edit</a>
    <a mat-button (click)="cancelForm()" *ngIf="editing">Cancel</a>
    <!-- <button mat-icon-button *ngIf="editing" style="margin-top: -12px;"><mat-icon>save</mat-icon></button> -->

    <!-- <a mat-flat-button (click)="enableForm()" *ngIf="!editing" style="margin-top: -12px;"><mat-icon></mat-icon>edit</mat-icon></a> -->
    <!-- <a mat-button (click)="cancelField()" *ngIf="fieldChanged">Cancel</a> -->
    <button mat-flat-button color="primary" *ngIf="editing">
      Save
    </button>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" fxFlex.lt-md="100">
      <ng-container *ngFor="let input of inputList" [ngSwitch]="input.type" >
        <div *ngIf="input.column == 'left'" class="full-width">

          <mat-form-field class="full-width" appearance="fill"  *ngSwitchCase="'relation'">
            <mat-label>{{input.label}}</mat-label>
            <mat-select placeholder="Placeholder" [formControlName]="input.name">
              <mat-option *ngFor="let item of input.options" [value]="item.value">
                {{item.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width" floatLabel="always" appearance="outline"  *ngSwitchDefault>
            <mat-label>{{input.label}}</mat-label>
            <input matInput [formControlName]="input.name">
            <mat-error *ngIf="profileForm.controls[input.name].hasError('required')">
              {{input.label}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </ng-container>
    </div>

    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50" fxFlex.lt-md="100">
      <ng-container *ngFor="let input of inputList" [ngSwitch]="input.fieldType" >
        <div *ngIf="input.column == 'right'" class="full-width">

          <app-searchable-select
          *ngSwitchCase="'dropdown'"
          [data]="input.options"
          [label]="input.label"
          [formControlName]="input.name"
          [valueSelected]="input.default"></app-searchable-select>

          <!-- <mat-form-field class="full-width" appearance="fill"  *ngSwitchCase="'dropdown'">
            <mat-label>{{input.label}}</mat-label>
            <mat-select placeholder="Placeholder" [formControlName]="input.name">
              <mat-option *ngFor="let item of input.options" [value]="item.value">
                {{item.value}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field class="full-width" floatLabel="always"  appearance="outline"  *ngSwitchDefault>
            <mat-label>{{input.label}}</mat-label>
            <input matInput [formControlName]="input.name">
            <mat-error *ngIf="profileForm.controls[input.name].hasError('required')">
              {{input.label}} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </ng-container>
    </div>
  </div>
</form>
