<div class="column-selector">
  <button mat-icon-button [matMenuTriggerFor]="columMenu">
    <mat-icon style="color: #797979">settings</mat-icon>
  </button>

  <mat-menu #columMenu="matMenu" style="padding: 0px;">

    <div class="loading-container"
    [style.height.px]="loadingHeight"
    (click)="$event.stopPropagation()"
    *ngIf="loading" >
      <mat-spinner diameter="30" mode="indeterminate">
      </mat-spinner>
    </div>
    <!-- <mat-selection-list
      (click)="$event.stopPropagation()"
      style="padding: 0px 5px 0px 0px;">
      <mat-list-option class="column-list-option"
        color="primary"
        fxFlex
        value="true"
        disabled>
        <span style="display: inline-flex; color: #b0b0b0;"><mat-icon>drag_indicator</mat-icon>Name</span>
      </mat-list-option>
    </mat-selection-list> -->

    <mat-selection-list #columnsMenu
      [(ngModel)]="selectedColumns"
      (click)="$event.stopPropagation()"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      class="column-list"
      fxLayout="column"
      style="padding: 0px 5px 0px 0px;">

        <mat-list-option *ngFor="let column of columns" (click)="setVisible()" cdkDrag
          class="column-list-option" fxFlex
          color="primary"
          [value]="column">
          <span style="display: inline-flex;"><mat-icon>drag_indicator</mat-icon>{{column.label}}</span>
        </mat-list-option>

    </mat-selection-list>
  </mat-menu>
</div>

