.full-width-table {
  width: 100%;
}
td.mat-column-settings {
  width: 20px;
  padding-right: 0px;
  .mat-icon{
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: #989898;
  }
}
.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
  padding-right: 0px;
  text-align: center;
}

.table-container{
  width: 100%;
  overflow: auto;
}

.mat-cell{
  padding: 0px 24px 0px 0px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  white-space: break-spaces;
  span{
    white-space: nowrap;
    .mat-icon{
      vertical-align: sub;
      font-size: 16px;
      height: 16px;
      width: 16px;
    }
  }
}

.record-name{
  cursor: pointer;
  text-decoration: none;
  color: #1d88e5;
  font-weight: 500;
}
