<mat-form-field class="full-width" floatLabel="always" appearance="outline">
  <mat-label>Default Value</mat-label>
  <mat-select [(ngModel)]="defaultSelected" [value]="defaultSelected" #singleSelect (selectionChange)="optionSelected($event)"
  [disabled]="isDisabled">
    <mat-option>
      <ngx-mat-select-search [placeholderLabel]="SearchPlaceholder" [formControl]="defaultFilter">
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-select>
</mat-form-field>
