<!-- <mat-progress-bar mode="indeterminate" color="primary" class="loading-top"></mat-progress-bar> -->
<mat-toolbar class="component-header">
  <span fxFlex>Clients</span>
  <button mat-flat-button color="primary" routerLink="/clients/add">Create</button>
</mat-toolbar>
<div class="main-content">
  <div class="mat-elevation-z1">
    <div fxLayout="row" fxLayoutAlign="end center"
      style="background-color: #fff; padding: 10px; border-bottom: 1px solid #e0e0e0;">
      <app-column-selector contentType="clients" (changeColumns)="changeColumns($event)"></app-column-selector>
    </div>
    <app-data-table [columns]="columnsChanged" settingsColumn="true" model="clients" contentType="clients" (openRecord)="openRecord($event)"></app-data-table>
  </div>
</div>
