<form id="input-form" [formGroup]="profileForm" novalidate style.fontSize.px="26px">

  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center">

    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required>
      <mat-error *ngIf="profileForm.controls['firstName'].hasError('required')">
      First Name is <strong>required</strong>
    </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required>
      <mat-error *ngIf="profileForm.controls['lastName'].hasError('required')">
      Last Name is <strong>required</strong>
    </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="profileForm.controls['email'].errors && profileForm.controls['email'].errors.required">
        Email is <strong>required</strong></mat-error>
      <mat-error *ngIf="profileForm.controls['email'].errors && !profileForm.controls['email'].errors.required">
        Please type a <strong>valid</strong> email address</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width" fxFlex="49" fxFlex.lt-md="100"
    *ngIf="creating">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required  [type]="hide ? 'password' : 'text'">
      <a mat-button matSuffix style="top: -9px; margin-right: -8px;" (click)="generatePassword()" class="generate-pass">Generate</a>
      <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide" class="show-hide-button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </a>
      <mat-error *ngIf="profileForm.controls['password'].hasError('required')">
      Password is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" type="tel">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>Office</mat-label>
      <input matInput formControlName="office">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" color="primary" class="full-width" fxFlex="49" fxFlex.lt-md="100">
      <mat-label>Job Position</mat-label>
      <input matInput formControlName="jobPosition">
    </mat-form-field>

  </div>
</form>
