.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #1c88e49c;
}

a.show-hide-button{
  width: 24px !important;
  height: 24px !important;
  float: right;
  margin: -3px 0px 0px 10px;
}

.generate-pass{
  font-size: 14px;
  color: #00000080;
}
