<mat-progress-bar mode="indeterminate" color="primary" class="loading-top" *ngIf="loading"></mat-progress-bar>

<mat-sidenav-container style="height: calc( 100vh - 55px );">

  <mat-sidenav-content class="content-outlet">
  <mat-toolbar class="component-header content-toolbar">
    <button mat-icon-button (click)="goBack()" style="margin-left: -10px;" ><mat-icon>arrow_back</mat-icon></button>
    <span fxFlex>Client Profile</span>
    <a mat-button class="history-toogle" (click)="toogleSideBar()" *ngIf="!sideBarOpened" >Show History <mat-icon>double_arrow</mat-icon></a>
    <a mat-button class="history-toogle" (click)="toogleSideBar()" *ngIf="sideBarOpened" >Hide History <mat-icon>double_arrow</mat-icon></a>
  </mat-toolbar>
  <div style="padding: 10px;">
    <mat-card class="mat-elevation-z1">

      <app-overlay-loading *ngIf="loading"></app-overlay-loading>
      <div fxLayout="row" class="card-header">
        <h2 fxFlex style="font-weight: 300; margin: 0px;">{{recordTitle || 'New Client'}}</h2>
      </div>
      <mat-tab-group color="primary" animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <div [class]="(isHandset$ | async) ? 'isHandset' : 'notHandset'">
              <mat-icon>contacts</mat-icon>
              <div class="label-text">Profile</div>
            </div>
          </ng-template>
          <app-client-profile
            [recordData]="recordData"
            [create]="create">
          </app-client-profile>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div [class]="(isHandset$ | async) ? 'isHandset' : 'notHandset'">
              <mat-icon>picture_as_pdf</mat-icon>
              <div class="label-text">Forms</div>
            </div>
          </ng-template>
          Forms Page
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  </mat-sidenav-content>

  <mat-sidenav #sidebar position="end" fullscreen
  fixedInViewport
  autosize
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) ? false : true">
    <mat-toolbar color="primary" class="main-tool-bar">Menu</mat-toolbar>
    <mat-toolbar class="component-header">
      <span fxFlex>History</span>
      <a mat-button class="history-toogle" (click)="toogleSideBar()" *ngIf="(isHandset$ | async) ? true : false"> Hide History<mat-icon>double_arrow</mat-icon></a>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" style="padding: 10px; height: calc( 100vh - 120px );">
      <div fxFlex style="border: 1px solid #d6d9d9; padding: 10px;">
        activities
      </div>
      <!-- <div class="timestamp">
        <div class="timestamp-container" *ngIf="modifiedBy" >
          <div class="timestamp-type">Modified</div>
          <div class="timestamp-time">{{dateModified}}</div>
          <div *ngIf="createdBy"> By: <a routerLink="/">{{modifiedBy.fullName}}</a></div>
        </div>
        <div class="timestamp-container" *ngIf="createdBy"  style="margin: 5px 0px -10px">
          <div class="timestamp-type">Created</div>
          <div class="timestamp-time">{{dateCreated}}</div>
          <div *ngIf="createdBy"> By: <a routerLink="/">{{createdBy.fullName}}</a></div>
        </div>
      </div> -->

      <div *ngIf="modifiedBy"
        class="timestamp-line">
          Modified: {{dateModified}} By
          <a routerLink="/"
          matTooltip="{{modifiedBy.firstName}} {{modifiedBy.lastName}}">
            {{modifiedBy.firstName}} {{modifiedBy.lastName}}</a>
      </div>
      <div *ngIf="createdBy"
        class="timestamp-line"
        style="margin-top: -10px;">
          Created: {{dateCreated}} By
          <a routerLink="/"
          matTooltip="{{createdBy.firstName}} {{createdBy.lastName}}">
          {{createdBy.firstName}} {{createdBy.lastName}}</a>
      </div>
    </div>
      <!-- <small>Last Modified: 01/01/2020 by Marcel Cruz</small>
      <small> Modified: 01/01/2020 by Marcel Cruz</small> -->
  </mat-sidenav>

</mat-sidenav-container>

<!-- <div fxFlex="25" fxFlex.md="30" fxLayout="column">
    <mat-card class="mat-elevation-z1" fxFlex>
      <div fxLayout="row" class="card-header">
        <h2 fxFlex style="font-weight: 300; margin: 0px;">History</h2>
      </div>
      <mat-card-content>
       this is another card
      </mat-card-content>

      <small>Last Modified: 01/01/2020 by Marcel Cruz</small>
      <small> Modified: 01/01/2020 by Marcel Cruz</small>
    </mat-card>
  </div>
</div> -->
