<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport autosize
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) ? false : true">
    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list style="padding-top: 0px">
      <a mat-list-item
        routerLink="/clients"
        (click)="toggleMenu()" >
        <mat-icon style="margin-right: 10px;">contact_mail</mat-icon>Clients
      </a>
    </mat-nav-list>

    <mat-nav-list style="padding-top: 0px">
      <a mat-list-item
        routerLink="/users"
        (click)="toggleMenu()" >
        <mat-icon style="margin-right: 10px;">people</mat-icon>Users
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="content-outlet">
    <mat-toolbar color="primary" class="main-tool-bar">
      <!-- menu toggle -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!search" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- close search -->
      <button mat-icon-button
        *ngIf="search && !isHandset"
        (click)="toggleSearch()" >
        <mat-icon>arrow_back</mat-icon>
      </button>

      <!-- <span>Immigration Forms</span> -->
      <span class="spacer" *ngIf="!search"></span>

      <!-- search autocomplete -->
      <mat-form-field appearance="outline" *ngIf="search" class="spacer search" color="primary" fxFlex>
        <button mat-icon-button matPrefix class="search-buttons" *ngIf="isHandset" (click)="toggleSearch()"><mat-icon>arrow_back</mat-icon></button>
        <input #search
          placeholder="Search"
          type="text"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          (ngModelChange)="this.searchUpdate.next($event)">
         <button mat-icon-button matSuffix class="search-buttons" (click)="resetSearch()" ><mat-icon>close</mat-icon></button>
        <mat-autocomplete #auto="matAutocomplete"
          autoActiveFirstOption>
          <mat-option *ngIf="searchLoading" >Loading...</mat-option>
          <mat-option *ngIf="searchNoResults" >No results found</mat-option>
          <mat-option *ngFor="let option of options"
            (onSelectionChange)="goTo(option)"
            value="{{option.firstName}} {{option.lastName}}">
              <span class="module-icon {{option.model}}">{{option.model}}</span>
              <div class="search-info" style="display: inline-block; line-height: 12px;vertical-align: top;">
                <h3 class="title" style="display: block;margin: 0px;">{{option.firstName}} {{option.lastName}}</h3>
                <span class="match" style="font-size: 12px; font-weight: 400;">
                  {{option.matchProperty}}: <b>{{option.matchValue}}</b>
                </span>
              </div>
              <mat-divider
                [inset]="false">
              </mat-divider>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

        <!-- open search -->
      <button mat-icon-button (click)="toggleSearch()" *ngIf="!isHandset || !search" ><mat-icon>search</mat-icon></button>

      <ng-container *ngIf="!isHandset || !search">
        <button mat-icon-button>
          <!-- <img src="../../assets/avatar.png" *ngIf="!avatarUrl"  class="navbar-avatar" [matMenuTriggerFor]="menu"/> -->
          <img [src]="avatarUrl" class="navbar-avatar" [matMenuTriggerFor]="menu"/>
          <mat-menu #menu="matMenu"  class="mat-elevation-z2" style="margin-top: 10px;">

            <button mat-menu-item routerLink="/users/{{userId}}" class="profile-menu">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button>

            <button mat-menu-item routerLink="/settings" class="profile-menu" *ngIf="isAdmin" >
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item  (click)="logout()"  class="profile-menu">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </button>
      </ng-container>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
