<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport autosize
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) ? false : true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list style="padding-top: 0px">
      <a mat-list-item
        routerLink="/clients"
        (click)="toggleMenu()" >
        <mat-icon style="margin-right: 10px;">people</mat-icon>Clients
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-outlet">
    <mat-toolbar color="primary" class="main-tool-bar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!search" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-icon-button
        *ngIf="search"
        (click)="search = !search" >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <!-- <span>Immigration Forms</span> -->
      <span class="spacer" *ngIf="!search"></span>
        <mat-form-field appearance="outline" *ngIf="search" class="spacer search">
          <input placeholder="Search"
            type="text"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (ngModelChange)="this.searchUpdate.next($event)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options"
              value="{{option.firstName}} {{option.lastName}}"
              routerLink="/clients/{{option.id}}">
              {{option.firstName}} {{option.lastName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-icon-button (click)="search = !search" ><mat-icon>search</mat-icon></button>

      <button mat-icon-button><img src="../../assets/avatar.png" class="navbar-avatar" [matMenuTriggerFor]="menu"/>
        <mat-menu #menu="matMenu"  class="mat-elevation-z2" style="margin-top: 10px;">
          <button mat-menu-item routerLink="/settings" class="profile-menu">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item  (click)="logout()"  class="profile-menu">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
