<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport autosize
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) ? false : true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list style="padding-top: 0px">
      <a mat-list-item routerLink="/clients">
        <mat-icon style="margin-right: 10px;">people</mat-icon>Clients</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-outlet">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>Immigration Forms</span> -->
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" ><mat-icon>exit_to_app</mat-icon></button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
