.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.content-outlet {
  background: #fafafa;
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }
.mat-toolbar-single-row,
.mat-toolbar.mat-primary{
  background-color: #363535;
  height: 55px;
  font-size: 16px;
  font-weight: 400;
  color: #ececec;
  .mat-icon{
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
  }
}

mat-nav-list a{
  font-size: 14px;
  color: #58666d;
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.profile-menu {
  font-weight: 300;
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}


