
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$forms-primary: mat-palette($mat-blue, 600);
$forms-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$forms-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$forms-theme: mat-light-theme($forms-primary, $forms-accent, $forms-warn);


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($forms-theme);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loading-top.mat-progress-bar{
  position: absolute;
}

.main-tool-bar{
  z-index: 10 !important;
}

.search{
  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
  .mat-form-field-outline{
    background: #fff;
  }
  .mat-form-field-infix {
    padding: 1.2em 0 0.8em !important;
    border-top: 0px;
    color: #000;
  }
}

.navbar-avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.mat-menu-panel{
  margin-top: 5px;
}

.mat-elevation-z1 {
  box-shadow: 0px 0px 1px #676767;
}
.mat-card{
  border-radius: 0px !important;
}

.mat-tab-labels .mat-tab-label{
  height: 40px;
  .mat-icon{
    height: 17px;
    width: 17px;
    font-size: 17px;
    margin-right: 5px;
  }
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  border-radius: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end{
  border-radius: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 0.5em 0;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: #d6d9d9;
  background:rgb(245, 248, 249);
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #d6d9d9;
}
// .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: rgb(214, 217, 217);
// }
.content-bg{
  background-color: #f0f3f4;
  .mat-elevation-z1 {
    box-shadow: 0px 3px 6px #d6d6d6;
  }
}

.component-header{
  background: #f5f8f9;
  border-bottom: 1px solid #dde5e7;
  font-weight: 200;
  color: #626f76;
}

.main-content{
  padding: 10px;
}

.content-outlet{
  background: #f0f3f4;
}

.full-width{
  width: 100%;
}

.mat-input-element,
.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
  color: #000;
}
.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label{
  color: #00000096;
}
