<mat-toolbar class="component-header">
  <span>Settings</span>
</mat-toolbar>
<div fxLayout="row wrap" class="component-content">

  <button mat-flat-button class="setting-box"
    routerLink="/settings/layout"
    fxFlex="0 1 calc(25% - 20px)"
    fxFlex.lt-lg="0 1 calc(33.3% - 20px)"
    fxFlex.lt-md="0 1 calc(50% - 20px)"
    fxFlex.lt-sm="100%">
      <mat-icon>text_fields</mat-icon><br/>
      Custom Fields
  </button>

  <button mat-flat-button class="setting-box"
    routerLink="/settings/layout"
    fxFlex="0 1 calc(25% - 20px)"
    fxFlex.lt-lg="0 1 calc(33.3% - 20px)"
    fxFlex.lt-md="0 1 calc(50% - 20px)"
    fxFlex.lt-sm="100%">
      <mat-icon>view_quilt</mat-icon><br/>
      Layout
  </button>

  <button mat-flat-button class="setting-box"
  routerLink="/settings/filters"
  fxFlex="0 1 calc(25% - 20px)"
  fxFlex.lt-lg="0 1 calc(33.3% - 20px)"
  fxFlex.lt-md="0 1 calc(50% - 20px)"
  fxFlex.lt-sm="100%">
    <mat-icon>filter_list</mat-icon><br/>
    Filters
  </button>

  <button mat-flat-button class="setting-box"
    routerLink="/settings/permissions"
    fxFlex="0 1 calc(25% - 20px)"
    fxFlex.lt-lg="0 1 calc(33.3% - 20px)"
    fxFlex.lt-md="0 1 calc(50% - 20px)"
    fxFlex.lt-sm="100%">
      <mat-icon>lock_open</mat-icon><br/>
      Permissions
    </button>

  <button mat-flat-button class="setting-box"
  routerLink="/settings/services-templates"
  fxFlex="0 1 calc(25% - 20px)"
  fxFlex.lt-lg="0 1 calc(33.3% - 20px)"
  fxFlex.lt-md="0 1 calc(50% - 20px)"
  fxFlex.lt-sm="100%">
    <mat-icon>gavel</mat-icon><br/>
    Services Templates
  </button>

  <button mat-flat-button class="setting-box"
  routerLink="/settings/filters"
  fxFlex="0 1 calc(25% - 20px)"
  fxFlex.lt-lg="0 1 calc(33.3% - 20px)"
  fxFlex.lt-md="0 1 calc(50% - 20px)"
  fxFlex.lt-sm="100%">
    <mat-icon>vertical_split</mat-icon><br/>
    Status
  </button>


</div>
