.component-content{
  padding: 20px;
}

.setting-box{
  background: #0096d1;
  color: #fff;
  border-radius: 0px;
  text-align: center;
  padding: 20px;
  font-weight: 300;
  .mat-icon{
    font-size: 40px;
    height: 40px;
    width: 40px;
  }
}
