<mat-toolbar class="component-header">
  <span>Settings</span>
</mat-toolbar>
<div fxLayout="row wrap" class="component-content">

  <button mat-flat-button class="setting-box"
    routerLink="/settings/layout"
    fxFlex="0 1 calc(25% - 20px)"
    fxFlex.lt-lg="0 1 calc(33.3% - 20px)"
    fxFlex.lt-md="0 1 calc(50% - 20px)"
    fxFlex.lt-sm="100%">
      <mat-icon>text_fields</mat-icon><br/>
      Fields
  </button>

  <button mat-flat-button class="setting-box"
    routerLink="/settings/permissions"
    fxFlex="0 1 calc(25% - 20px)"
    fxFlex.lt-lg="0 1 calc(33.3% - 20px)"
    fxFlex.lt-md="0 1 calc(50% - 20px)"
    fxFlex.lt-sm="100%">
      <mat-icon>lock_open</mat-icon><br/>
      Permissions
    </button>
</div>
